h2 {
  font-size: 30px;
  padding: 6px;
  color: white;
  text-align: center;
}

.Disney {
  width: 90%;
  border: white solid 10px;
  margin: 0.5rem;
}

h3 {
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px white;
  padding: 1rem;
}

.number {
  text-align: end;
  font-size: 15px;
  padding: 0.5rem;
  text-align: center;
}
